spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/mscms
  cloud:
    gateway:
      mvc:
        routes:
          - id: user-management-service
            uri: lb://USER-MANAGEMENT-SERVICE
            predicates:
              - Path=/users/**,/team-managers/**,/staff/**,/sport-managers/**,/sponsors/**,/scouts/**,/players/**,/national-teams/**,/fans/**
          - id: player-management-service
            uri: lb://PLAYER-MANAGEMENT-SERVICE
            predicates:
              - Path=/teams/**,/sports/**,/rosters/**,/outer-players/**,/outer-teams/**,/player-contracts/**,/player-transfers-incoming/**,/player-transfers-outgoing/**,/player-callups/**
          - id: training-match-service
            uri: lb://TRAINING-MATCH-SERVICE
            predicates:
              - Path=/matches/**,/match-events/**,/match-formations/**,/match-lineups/**,/match-performance-reviews/**,/player-match-statistics/**,/training-sessions/**,/training-plans/**,/training-drills/**,/training-attendance/**,/player-training-assessments/**
          - id: medical-fitness-service
            uri: lb://MEDICAL-FITNESS-SERVICE
            predicates:
              - Path=/injuries/**,/diagnoses/**,/treatments/**,/rehabilitations/**,/fitness-tests/**,/training-loads/**,/recovery-programs/**
          - id: notification-mail-service
            uri: lb://NOTIFICATION-MAIL-SERVICE
            predicates:
              - Path=/notifications/**,/alerts/**,/messages/**
          - id: reports-analytics-service
            uri: lb://REPORTS-ANALYTICS-SERVICE
            predicates:
              - Path=/match-analyses/**,/player-analytics/**,/scout-reports/**,/sponsor-offers/**,/team-analytics/**,/training-analytics/**
          - id: user-management-api-docs
            uri: lb://USER-MANAGEMENT-SERVICE
            predicates:
              - Path=/user-management/v3/api-docs/**
            filters:
              - StripPrefix=1
          - id: player-management-api-docs
            uri: lb://PLAYER-MANAGEMENT-SERVICE
            predicates:
              - Path=/player-management/v3/api-docs/**
            filters:
              - StripPrefix=1
          - id: training-match-api-docs
            uri: lb://TRAINING-MATCH-SERVICE
            predicates:
              - Path=/training-match/v3/api-docs/**
            filters:
              - StripPrefix=1
          - id: medical-fitness-api-docs
            uri: lb://MEDICAL-FITNESS-SERVICE
            predicates:
              - Path=/medical-fitness/v3/api-docs/**
            filters:
              - StripPrefix=1
          - id: notification-mail-api-docs
            uri: lb://NOTIFICATION-MAIL-SERVICE
            predicates:
              - Path=/notification-mail/v3/api-docs/**
            filters:
              - StripPrefix=1
          - id: reports-analytics-api-docs
            uri: lb://REPORTS-ANALYTICS-SERVICE
            predicates:
              - Path=/reports-analytics/v3/api-docs/**
            filters:
              - StripPrefix=1

springdoc:
  swagger-ui:
    urls:
      - name: User Management
        url: /user-management/v3/api-docs
      - name: Player Management
        url: /player-management/v3/api-docs
      - name: Training & Match
        url: /training-match/v3/api-docs
      - name: Medical & Fitness
        url: /medical-fitness/v3/api-docs
      - name: Notification & Mail
        url: /notification-mail/v3/api-docs
      - name: Reports & Analytics
        url: /reports-analytics/v3/api-docs

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG
