spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8443/realms/mscms
  cloud:
    gateway:
      mvc:
        routes:
          - id: user-management-service
            uri: lb://USER-MANAGEMENT-SERVICE
            predicates:
              - Path=/users/**,/team-managers/**,/staff/**,/sport-managers/**,/sponsors/**,/scouts/**,/players/**,/national-teams/**,/fans/**

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG