spring:
  datasource:
    url: ${DB_URI}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: localhost:29092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer


server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: "*"
keycloak:
  admin:
    username: ${KEYCLOAK_USER}
    password: ${KEYCLOAK_PASSWORD}
    server-url: http://localhost:8443
    realm: mscms
    client-id: admin-cli
    client-uid: #for each client there is one

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG

app:
  admin:
    keycloak-id: ${APP_ADMIN_KEYCLOAK_ID}
    first-name: ${APP_ADMIN_FIRST_NAME}
    last-name: ${APP_ADMIN_LAST_NAME}
    username: ${APP_ADMIN_USERNAME}
    email: ${APP_ADMIN_EMAIL}
    password: ${APP_ADMIN_PASSWORD}
    phone: ${APP_ADMIN_PHONE}
    age: ${APP_ADMIN_AGE}
    gender: ${APP_ADMIN_GENDER}
    address: ${APP_ADMIN_ADDRESS}
    blood-type: ${APP_ADMIN_BLOOD_TYPE}
    role: ${APP_ADMIN_ROLE}
    create-default: ${APP_ADMIN_CREATE_DEFAULT:true}